
$primary: #ed7d3a;
$secondary: #dced31;
$success: #0cce6b;
$danger: #de2950;
$light: #efeada;
$dark: #363537;

@import "bootstrap";

body {
  margin: 0;
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: $dark;
}

.propWrapper {
  background-color: $light;
  color: $dark;
  border: 3px solid $secondary;
  margin: 3%;
  padding: 2%;
  position: relative;
}

.propContainer {
  display: flex;
  justify-content: space-around;
  gap: 4%
}

.propOption {
  flex: 1 1 0px;
  width: 200;
  border-width: 4px;
  font-size: 1.3rem;
  padding: 2rem 0.75rem;
}

.overUnderValue {
  width: 20%;
  min-height: 100%;
  line-height: 300%;
  text-align: center;
}

.selectedOption {
  background-color: $primary;
}

.landing-page {
  background-color: $dark;
  color: $light;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
}

.landing-container {
  display: flex;
  justify-content: space-around;
  gap: 4%
}

.landing-call-to-action {
  background-color: $primary;
  border: 4px solid $secondary;
  flex: 1 1 0px;
  padding: 5px;
}

.league-page {
  background-color: $dark;
  color: $light;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
}

.league-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.league-card {
  width: 350px;
  position: relative;
}

.event-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4%
}

.event-card {
  flex: 1 1 0px;
  width: 200px;
  position: relative;
}

.trash-button {
  border: 0;
  color: $danger;
  position: absolute;
  top: 0;
  right: 0;
}

.title-text {
  font-family: "Edu SA Beginner", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.spacer {
  width: 200px;
  height: 25px;
  margin-right: 0px;
}

.link-title {
  font-family: "Edu SA Beginner", serif;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.text-capitalize {
  text-transform: capitalize;
}

.form-control-complete {
  // background-color: $white-bg;
  border: 4px solid $primary;
}

.form-control-correct {
  border: 4px solid $success;
}

.form-control-incorrect {
  border: 4px solid $danger;
}

.highlight-table-row {
  border: 2px solid $primary;
}